@model List<SanaWebShop.Core.Models.Product>

    @{
        ViewBag.Title = "List of products";
    }

    <h2>List of Products - (From Database)</h2>

<div id="ListProducts">
    <table class="table table-striped" id="DatabaseTable">
        <tr>
            <th>Product Number</th>
            <th>Title</th>
            <th>Price</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductNumber</td>
                <td>@product.Title</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script>
        $("#ChangeStorage").click(function () {
            // This is evaluated before the change takes place
            if ($("#StorageMethod").val() === "Memory") {
                window.location = '@Url.Action("List", "Product")';
            } else {
                window.location = '@Url.Action("ListMemory", "Product")';
            }
        });
    </script>
}

        
    
