@model SanaWebShop.Presentation.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create Product";
}

<h2>Product Creation</h2>



@using (Html.BeginForm("CreateProduct", "Home", FormMethod.Post))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "$ 100" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductNumber)
        @Html.TextBoxFor(m => m.ProductNumber, new { @class = "form-control", placeholder = "SKU23432" })
        @Html.ValidationMessageFor(m => m.ProductNumber)
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
}